.bannerImg{
  top: 0px;
  width: 100vw;
}

@media (max-width: 575px){
  .bannerImg{
    height:200px;
    object-fit: cover;
    object-position: left;
  }
}

.buttonRow Button{
  margin: 10px;
  background-color: #040052;
  opacity: 0.8;
}

.allButtonRow Button{
  margin: 10px;
  background-color: #040052;
  opacity: 0.8;

}
.card{
  min-height:100px;
}

@media (min-width: 575px){
  .card{
    min-height: 200px;
  }
  .generatedString{
    margin-top: 30px;
  }
}


.card-title{
  padding-top: 20px;
  background-color: lightgray;
}

.container{
  text-align: center;
  min-height: 100vh;
}

.container-fluid{
  text-align: center;
  min-height: 100vh;
}

.creditsRow{
  font-size: small;
  color: gray;
  position: absolute;
  opacity: 0.4;
  width: 100%;
}

h2{
  font-family: 'Gotham Black';
}

.headlineText{
  margin-top: 50px;
  margin-bottom: 50px;
  animation: slideIn 2s;
}

.headingName{
  font-family: 'Gotham Black', sans-serif;
  font-size: large;
}

.generatedString{
  font-family: 'Gotham Light', sans-serif;
  font-weight: normal;
  font-size: large;
}

@keyframes slideIn {
  from {opacity: 0; transform: translateX(500px);}
  to {opacity: 1; transform: translateX(0px);}
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../src/fonts/GothamPro-Light.woff');
}
@font-face {
  font-family: 'Gotham Black';
  src: url('../src/fonts/GothamPro-Black.woff');
}