.bannerImg{
  top: 0px;
  width: 100vw;
}

@media (max-width: 575px){
  .bannerImg{
    height:200px;
    object-fit: cover;
    object-position: left;
  }
}

.card{
  min-height:100px;
}

Button{
  font-family: "Gotham Black", sans-serif !important;
  border-radius: 3px !important;
  border-color: white !important;
  margin: 10px ! important;
  background-color: #43468F !important;
}



.card-title{
  padding-top: 15px;
  padding-bottom:10px;
  background-color: #4D7BD1;
}

.container{
  text-align: center;
  min-height: 100vh;
}

.container-fluid{
  text-align: center;
  min-height: 100vh;
}

.creditsRow{
  font-size: x-small;
  color: gray;
  position: absolute;
  opacity: 0.4;
  width: 100%;
}

h2{
  font-family: 'Gotham Black';
}

.headlineText{
  margin-top: 50px;
  margin-bottom: 50px;
  animation: slideIn 2s;
}

.headingName{
  font-family: 'Gotham Black', sans-serif;
  font-size: large;
}

.generatedString{
  font-family: 'Gotham Light', sans-serif;
  font-weight: bold;
  font-size: large;
}

@keyframes slideIn {
  from {opacity: 0; transform: translateX(500px);}
  to {opacity: 1; transform: translateX(0px);}
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../src/fonts/GothamPro-Light.woff');
}
@font-face {
  font-family: 'Gotham Black';
  src: url('../src/fonts/GothamPro-Black.woff');
}
@media (min-width: 775px){
  .card{
    min-height: 300px;
  }
  .generatedString{
    margin-top: 30px;
    font-size: x-large;
  }
}